nav ul li .ractive {
  color: #ffa500;
}

main {
  position: relative;
  top: 115px;
  margin: auto;
  width: 100%;
  padding: 10px;
}

table {
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 15px rgba(64, 64, 64, 0.7);
  margin: auto;
  /* overflow: hidden; */
}

td,
th {
  padding: 15px 20px;
  text-align: center;
}

th {
  background-color: #23a7d3;
  color: #fafafa;
  font-family: "Open Sans", Sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

tr {
  width: 100%;
  background-color: #fafafa;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}
